html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video { margin:0; padding:0; font-family:"微软雅黑"; border:0 }
embed { width:100%; height:auto; }
html {-ms-touch-action: manipulation;touch-action: manipulation; font-size: 62.5%;}/*延迟300秒click事件*/
article, aside, canvas, figure,sub, figure img, figcaption, hgroup, footer, header, nav, section, audio, video { display:block }
a, img { border:0 }
dl, dt, dd, ul, ol, li { list-style:none }
i, em { font-style:normal }
html { -webkit-text-size-adjust:none; }
* { -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-select:none; -webkit-touch-callout:none; box-sizing:border-box;-webkit-box-sizing:border-box; }
input { -webkit-user-select:auto;-webkit-appearance:none; border-style:none; background-color:transparent;  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  outline: none;}
input[type="checkbox"]:focus,input[type="submit"]:focus,input[type="reset"]:focus, input[type="radio"]:focus { 
outline: 1px solid #6FA1D9 !important; } 
body { font-family:"华文黑体", Helvetica, Arial, sans-serif; font-size: 1.4rem; line-height: 1.5;  color:#333; background-color:#fff;}
p { line-height:1.6 }
h2,h3{font-size: 100%;}
ul, li { margin:0px; padding:0px; list-style:none; }
select { -webkit-appearance:none; }
.clear:after { display:block; content:''; clear:both; visibility:hidden }
.f-left{float: left;}
.f-right{float: right;}

/*全局*/
/*
	text color 333
*/


/*布局*/
.header { position:fixed; left:0px;  width:100%; top:0; z-index:10; text-align:center; /*background-color:#FFF;*/ background-color: #F5F5F5; }
.header h2 { height:50px; line-height:50px; margin-top: -50px; z-index: -1; width:100%; position:relative; font-size:22px; color:#333; /*color: #444;*/ font-weight:normal; background-color:#F5F5F5;  /*background-color:#FFF;*/ }
.header-sub{height:26px; line-height:26px; color:#FFF; background-color:#ACACAC; text-align:center;}

.page-bd{padding-top: 50px;}
.wrap{width: 600px; padding: 0 20px; margin: 0px auto; }

@font-face { font-family: 'icon'; src: url('../fonts/icon.ttf?irkqfn') format('truetype'); font-weight: normal; font-style: normal; }
 [class^="icon-"], [class*=" icon-"] {font-family: 'icon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; }
.icon-back:before { content: "\e60a"; }
.icon-back { /*position:absolute; left:0px; top:0px; */ display:block; width:55px; height:50px; z-index:25;font-size:26px; color:#BEBDB7;font-family: 'icon';
 speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height:50px; text-decoration:none;	-webkit-font-smoothing: antialiased;  }
.icon-back.hover{background:#dfdfdf;}

/*swipt*/
.swipe { overflow: hidden; visibility: hidden; position: relative;  margin: 0px auto;  max-width: 720px; min-width: 640px; }
.swipe-wrap { overflow: hidden; position: relative; }
.swipe-wrap:first-child{background-color: #ccc;}
.swipe-wrap > figure { float: left; width: 100%; position: relative; }
.erweima { text-align: center; }
.erweima img { border: 6px solid #FFF; margin-right: 20px; }
.title { background-color: #222; width: 100%; position: fixed; top: 0; left: 0; font-size: 12px; font-family: Verdana, Geneva, sans-serif; z-index: 99999; }
.title a { color: #999; text-decoration: none; line-height: 24px; padding: 0 10px; letter-spacing: 1px; }
.title_r { float: right; }
.title_l { float: left; }
.title a:hover { background: #000; }
.page-swipe header a, .page-swipe header a:visited { color: #2b2e30; font-weight: 700 }
.page-swipe header a:hover, .page-swipe header a:visited:hover { color: #43484b }
.page-swipe header a.logo, .page-swipe header a:visited.logo { background: #373b3e; color: #191919 }
.page-swipe header a.logo:hover, .page-swipe header a:visited.logo:hover { background: #4f5559 }

/*.page-swipe header #slider {}
@media only screen and (max-width:767px) {
	.erweima img { display: none; }
	.page-swipe header #slider {  }
}*/
.page-swipe header #slider figure { display: block }
.page-swipe header #slider figure div.sliderWrap {height: 200px; overflow: hidden; display: block;  position: relative }
/*@media only screen and (max-width:767px) {
	.page-swipe header #slider figure div.sliderWrap {  height: 80px;}
}*/
/*.page-swipe header #slider figure div.image { display: block;  height: inherit; }*/
.page-swipe header #slider figure a { text-transform: none; font-weight: 400; letter-spacing: 0; position: absolute; bottom: 10px; right: 20px; font-size: 12px; color: #fff; background: #000; padding: 2px 5px; border-radius: 3px; opacity: .45; font-family: franklin-gothic-urw, sans-serif }
.page-swipe header #slider figure a:hover { opacity: .85; text-decoration: none }
.page-swipe header nav { position: relative;  margin-top: -23px; }
.page-swipe header nav a { font-style: normal; color: #555 !important }
.page-swipe header nav #position { text-align: center; list-style: none; margin: 0; padding: 0 }
.page-swipe header nav #position li { display: inline-block; width: 14px; height: 4px;  border-radius: 10px; background: #fff; opacity: .5;   margin: 0 2px; cursor: pointer }
.page-swipe header nav #position li.on { background-color: #fff; opacity: 1;  }
.sliderWrap .image{width: 100%; height: auto;}


/*新鲜事*/
.art01-img{display: box; -webkit-display:box;}
.art01-img a{ margin-left: 10px; box-flex:1; -webkit-box-flex:1; box-sizing:border-box; -webkit-box-sizing:border-box; }
.art01-img a img{width: 100%;}





