html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; }
embed { width: 100%; height: auto; }
html { -ms-touch-action: manipulation; touch-action: manipulation; font-size: 62.5%; }
/* 延迟300秒click事件 */
article, aside, canvas, figure, sub, figure img, figcaption, hgroup, footer, header, nav, section, audio, video { display: block; }
a, img { border: 0; }
dl, dt, dd, ul, ol, li { list-style: none; }
i, em { font-style: normal; }
a { text-decoration: none; color: #607fa6; }
html { -webkit-text-size-adjust: none; }
* { -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select:none;}
input { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; -webkit-user-select: auto; -webkit-appearance: none; border-style: none; background-color: transparent; -webkit-tap-highlight-color: transparent; outline: none; -webkit-user-select:initial }
input[type="checkbox"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="radio"]:focus { outline: 1px solid #6FA1D9 !important; -webkit-user-select:initial }
textarea{-webkit-user-select:initial}
body { font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif; font-size: 1.4rem; line-height: 1.5; color: #666; background-color: #f5f5f5;}
p { line-height: 1.6; }
h2, h3 { font-size: 100%; font-weight: normal; }
ul, li { margin: 0px; padding: 0px; list-style: none; }
select { -webkit-appearance: none; }
.none{display: none;}
.show{display: inline;}
.bg-black{background: #000;}
.bg-white{background: #fff;}
.t-c{text-align: center;}
.t-l{text-align: left;}
.clear:after { display:block; content:''; clear:both; visibility:hidden }
.box{box-sizing:border-box; -webkit-box-sizing:border-box;}
@media screen and (min-width: 1024px) {
	.page{width: 360px; margin: 0 auto; }
}
.wrap{
	padding: 10px 4%;
}
.header img{
	width: 100%;
	max-height: 300px;
	overflow: hidden;
}
.title-01{
	line-height: 2;
	font-size: 1.6rem;
	color: #000;
	font-weight: bold;
}
.title-02{
	line-height: 2;
	font-size: 2rem;
	text-align: center;
}
/*font*/
.f-s-mini{font-size: 1.2rem;}
.f-s-big{font-size: 1.8rem;}
.f-s-vbig{font-size: 2rem;}
.f-s-vvbig{font-size: 3rem;}
.f-c-red{color: #C65C5E;}
.f-c-yellow{color: #E6AA76;}
.f-c-green{color: #59b34e;}
.f-c-blue{color: #2a31f5;}
.f-c-orange{color: #f60;}
.f-c-gray{color: #A7A7A7;}

.p-b{padding-bottom: 15px;}


.btn{text-align: center; line-height: 46px; border-radius: 5px; font-size: 1.8rem;}

.btn-green,.btn-dis{background-color: #67bd5e; color: #fff; width: 100%; display: inline-block; }
.btn-dis{background-color: #c0c0c0;}
.btn:first-child{margin-left: 0px;}

/*// popup*/
.popup { height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; display: none }
.popup .mask { height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgba(0, 0, 0, 0.4); z-index: 100; }
.popup .content { z-index: 101; position: fixed; top: 30%; margin-left: 10%; width: 80%; }
.popup .btn-box { display: flex; display: -webkit-flex; margin-top: 10px; }
.btn-2{flex: 1; width: 1%; line-height: 46px; text-align: center; background-color: #fff; box-sizing: border-box; -webkit-box-sizing:border-box; font-size: 1.6rem;}
.btn-2:last-child{border-left: 1px solid #f5f5f5; color: #999;}
.enter-phone{
	background-color: #f5f5f5;
	width: 80%;
	margin-left: 10%;
}
.enter-phone h2{
	background-color: #3ccccc;
	color: #fff;
	font-size: 1.8rem;
	text-align: center;
	line-height: 50px;
}
.enter-phone input{
	border-radius: 10px;
	background-color: #fff;
	line-height: 40px;
	width: 90%;
	margin-left: 5%;
	margin-top: 10px;
	padding-left: 10px;
	font-size: 1.8rem
}
.enter-phone .btn-sure{
	border-radius: 10px;
	background-color: #ff7257;
	color: #fff;
	text-align: center;
	line-height: 40px;
	width: 90%;
	margin-left: 5%;
	margin-top: 10px;
	font-size: 1.8rem;
	margin-bottom: 10px;
}
.tip-box{
	padding: 30px 40px;
	text-align: center;
}
.tip-box h2{
	font-size: 3rem;
}
.title-sub{
	color: #000;
	font-size: 1.6rem;
	margin-top: 10px;
	margin-bottom: 60px;
}
.btn-orang{background-color: #ff7355; line-height: 46px; text-align: center; color: #fff; font-size: 1.8rem; margin-top: 50px; border-radius: 10px;}

.share-sub{float: left; text-align: center; width: 30%;}
.title-03{color: #000; font-size: 1.4rem;}
.icon-suc{background: url(img/icon_suc.png) no-repeat center; background-size: 40px auto; height: 40px; margin-top: 0px;}
.icon-suc.dis{background: url(img/icon_suc_dis.png) no-repeat center;background-size: 40px auto;}
.share-sub .line{border-left: 2px dotted #ddd; height: 50px; width: 2px; margin: 5px auto;}
.share-img{float: left; width: 70%;}



.share-photo {
	background: url("img/one.png") no-repeat center #e0e0e0;
	height:0px;
	width: 100%;
	padding-bottom: 60%;
	display: block;
	position: relative;
	background-size: 60% auto;
	border:1px dashed #d1d1d1;
	margin-bottom: 10px;
}
.share-photo.two{
	background: url("img/two.png") no-repeat center #e0e0e0;
	background-size: 60% auto;
}
.share-photo.three{
	background: url("img/three.png") no-repeat center #e0e0e0;
	background-size: 60% auto;
}
.share-photo input{
		border:1px daths #999;
		display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	border:none;
	overflow: hidden;
	z-index: 10;
	opacity: 0;
	}
	.wrapPhoto{
		position: relative;
	}
	.userUpBox{
		height: 0px;
		padding-bottom: 60%;
		/* display: none; */
		margin-bottom: 10px;
		overflow: hidden;
	}
	.icon-close{
		font-size: 2.5rem;
		text-align: center;
		line-height: 25px;
		width: 30px;
		height: 30px;
		background-color: #f60;
		color: #fff;
		border-radius: 40px;
		position: absolute;
		right: -2px;
		top: -10px;
	}
	.wrapPhoto img{
		width: 100%;
	}

.waitUp .content{
	background-color: #f4f4f4;
	border-radius: 10px;
	text-align: center;
	padding: 20px 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}